body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    background: #f4f7fb;     /* optional */
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 500px;
    width: 320px;
    background: rgb(170, 207, 249);
    color: black;
    border-radius: 24px;
    padding: 40px 20px;
}

.normal {
    display: inline-block;
    text-decoration: none;
    padding: 22px 37px;
    border: none;
    width: 50px;
    height: 20px;
    background: midnightblue;
    color: white;
    border-radius: 12px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}