.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 320px;
    background: rgb(170, 207, 249);
    color: black;
    border-radius: 24px;
    padding: 20px;
    margin: 0 auto;
}

.normal {
    display: inline-block;
    text-decoration: none;
    padding: 22px 37px;
    border: none;
    width: 50px;
    height: 20px;
    background: midnightblue;
    color: white;
    border-radius: 12px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}