.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 320px;
    background: rgb(170, 207, 249);
    color: black;
    border-radius: 24px;
    padding: 20px;
}

.normal {
    width: 50px;
    height: 20px;
    background: midnightblue;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}