body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
    background: #f4f7fb;     /* optional */
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 500px;
    width: 320px;
    background: rgb(170, 207, 249);
    color: black;
    border-radius: 24px;
    padding: 40px 20px;
}

.game {
    display: grid;
    border: 5px solid black;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 0px;
    height: 300px;
    width: 300px;
}

.square {
    width: 100%;
    height: 100%;
    background: white;
    border: 5px solid black;
}

.x {
    color: orange;
}

.o {
    color: yellow;
}

.hidden {
    display: none;
}

.normal {
    padding: 10px 60px; /* just use padding to adjust button size */
    background: midnightblue;
    color: white;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;   
    transition: transform 0.1s ease, background 0.2s ease;
}